<div class="container">
    <div class="row ">
        <div class="float-left col-12 header-action-tab1">
            <div class="float-left col-12 no-pad">

                <h3 class="float-left heading-level-one">
                    <span class="cp" matTooltip="back" (click)="goback()"><i class="fa fa-arrow-left pr-2"
              aria-hidden="true"></i></span>

                    <span>Challenge Details</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="row between">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
            <img [src]=product?.imageUrl alt={{product?.productName}} class="img-fluid rounded ">
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="col-12 margin-b-20 ptop no-pad" id="pName">
                <label for="productName" class=" font-weight-bold">Challenge Name :</label>
                <div>{{product?.productName}}</div>
            </div>
            <div class="col-12 margin-b-20 no-pad">
                <label for="manufacturer" class=" font-weight-bold">Training Team:</label>
                <div>{{product?.manufacturer}}</div>
            </div>
            <div class="col-12 margin-b-20 no-pad">
                <label for="price" class=" font-weight-bold">Price : </label>
                <div>{{product?.productPrice | currency : INR}}</div>
            </div>
            <div class="col-12 no-pad">
                <label for="price" class=" font-weight-bold">Quantity :</label>
                <div>{{product?.productQuantity}}</div>
            </div>

        </div>
        <div class="col-12 mt-4 margin-b-20 ">
            <label for="Description" class=" font-weight-bold">Description :</label>
            <div class="height-150">{{product?.productDescription}}</div>

        </div>
    </div>